

{% extends 'dash/dash_base.html' %}

{% block title %}
Account | 
{% endblock %}

<!-- ================================= CONTENT -->
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash/account.css') }}">
    <script>

      document.getElementById('profile-icon').style.backgroundColor = "var(--color-neutral)";
      
      
    
    </script>
</head>


  <div>
      {% if data.message %}
      <h1 class="">{{ data.message }}</h1>
      {% endif %}
  </div>

  <div class="row a-center">
    <img class="profile-pic" id="profile-pic"  src="https://storage.googleapis.com/tpitci-static-images/russ.jpg" alt="your profile picture">
    <div class="col">
        <h1 class="page-title" >{{ current_user.name }}</h1>
        <h3>@{{ current_user.handle }}</h3>
    </div>
  </div>


<section>
    <div class="card">
    <header>
        <a href="{{ url_for('dash.create_collective') }}" class="btn btn-lg-dark btn-submit">
            <span class="f-icon margin-sides-sm">+</span> Create Collective
        </a>
    </header>
    </div>
</section>


<section id="account-info">

    <div class="card">

        <header>

          
          <h1>Account Information</h1>
         
            

        </header>


        <div class="card-body col a-center">

          <div class="row wide m-start a-center">
            <a href="/users/me" class="row">
              <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/user2x.png" id="post-user-pic">
            </a>
            <label for="post-user-pic">browse</label>
          </div>

          <div class="col wide a-center">
            <label for="email">email</label>
          <input id="email" type="text" value="">
          </div>

          <div class="col wide a-center">
            <label for="confirm-email">confirm email</label>
          <input id="confirm-email" type="text" value="">
          </div>
          
          <div class="col wide a-center">
            <label for="current-password">current password</label>
          <input id="current-password" type="password" value="">
          </div>

          <div class="col wide a-center">
            <label for="new-password">new password</label>
          <input id="new-password" type="password" value="">
          </div>

          <div class="col wide a-center">
            <label for="username">username</label>
          <input id="username" type="text" value="">
          </div>

          <div class="col wide a-center">
            <label for="handle">handle</label>
            <div class="row wide">
                <div class="btn btn-sm-dark">@</div>
                <input id="handle" type="text" value="">
              </div>
          </div>
          
<hr>
          <div class="btn btn-lg-dark btn-submit">Save</div>

        </div>

        <footer class="col">
          <div class="btn btn-lg-light btn-submit btn-alert">DELETE ACCOUNT PERMANENTLY</div>
        </footer>

        </div>



</section>




{% endblock %}