{% extends 'dash/dash_base.html' %}

{% block title %}
Create Collective | 
{% endblock %}
<!-- ================================= CONTENT -->
{% block content %}

<h1 class="page-title">Create Collective</h1>

<section id="account-info">

    <div class="card">

        

        <div class="card-body col a-center">

          <div class="row wide m-start a-center">
            
              <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/user2x.png" id="post-user-pic">
            <label for="profile-pic">upload photo </label>
          </div>


          <div class="col wide">
            <label for="username">collective name</label>
          <input id="username" type="text" value="">
          </div>

          <div class="col wide">
            <label for="handle">handle</label>
          <input id="handle" type="text" value="">
          </div>

          <div class="col wide">
            <label for="invite">invite others</label>
            <div class="row  m-between wide">
                <input id="invite" type="text" value="username or @handle">
            <div class="btn btn-sm-dark">+</div>
            </div>
        </div>
          


        </div>

        <footer>
          <div class="btn btn-lg-dark btn-submit">Create</div>

        </footer>



</section>





{% endblock %}