{% extends 'base.html' %}


{% block head %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/dash/dash_base.css') }}">


    


{% endblock %}




{% block main %}


<!-- JINJA SETUP HERE -->




<nav class="navbar">
    <a href="{{ url_for('dash.public_square') }}" id="public-square-icon">
        <img class="nav-icon" id="parthenon" src="https://storage.googleapis.com/tpitci-static-images/public-sq-wht.svg" alt="public square icon">
    </a>

{% if current_user %}

    <a href="{{ url_for('users.profile') }}" id="profile-icon">
        <img class="nav-icon" src="https://storage.googleapis.com/tpitci-static-images/user.svg" alt="profile icon">
    </a>
    <a href="{{ url_for('dash.notifications') }}" id="notifications-icon">
        <img class="nav-icon" src="https://storage.googleapis.com/tpitci-static-images/noti-rnd.svg" alt="notifications icon">
    </a>
{% endif %}

    <a href="{{ url_for('dash.search') }}" id="search-icon">
        <img class="nav-icon" src="https://storage.googleapis.com/tpitci-static-images/search.svg" alt="search icon">
    </a>
</nav>


<div id="content">

{% block content %}

{% endblock %}

</div>



{% endblock %}

{% block footer %}
<a href="https://drive.google.com/drive/folders/1-uKiI99_lV9F5-I9fDDad-xw-sS2Uzv7?usp=sharing">Community Enterprise</a>

{% endblock %}