{% extends 'dash/dash_base.html' %}

{% block title %}
Notifications | 
{% endblock %}

<!-- ================================= CONTENT -->

{% block content %}

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash/notifications.css') }}">
    <script>

      document.getElementById('notifications-icon').style.backgroundColor = "var(--color-neutral)";
    
    </script>

</head>


<section id="notifications">

    <div class="card">

        <header class="m-between row-wrap back-light">

                <a href="{{ url_for('collectives.profile', id=2) }}" class="margin-sides-sm und row">
                    <img src="https://storage.googleapis.com/tpitci-static-images/collective.jpg" class="profile-pic">
                    <div class="col">
                        <h4>Group Name</h4>
                        <h4>@handle</h4>
                    </div>
                </a>
        </header>

        <div class="card-body m-center">
                <h3>has invited you to join them.</h3>

        </div>
            
        <footer class="col">
                <div class="btn btn-lg-dark btn-submit">ACCEPT</div>
                <div class="btn btn-lg-light btn-submit">DENIE</div>
        </footer>

    </div>
        

    <div class="card card-body">

        <div class="m-start row-wrap">
            <div class="m-start row">
                Your proposal in
                <a href="{{ url_for('collectives.internal_dash', id=2) }}" class="margin-sides-sm und">
                My Group Name
                </a>
            </div>
            has passed
        </div>

    </div>



    <div class="card card-body">

        <div class="m-start row-wrap back-light">

            <a href="/users/2" class="margin-sides-sm und">
                Username
            </a>
            was nominated for <span class="und">Role Name</span>
            <a href="{{ url_for('collectives.internal_dash', id=2) }}" class="margin-sides-sm und">
            My Group Name
            </a>

        </div>        

    </div>


</section>





{% endblock %}