{% extends 'dash/dash_base.html' %}

{% block title %}
Public Square | 
{% endblock %}

<!-- ================================= CONTENT -->
{% block content %}
<head>

    <script>

      document.getElementById('public-square-icon').style.backgroundColor = "var(--color-neutral)";
    
    </script>

    
</head>

<!-- 
 ================================= CREATE COLLECTIVE BUTTON
<div id="create-collective-container">
    <a href="{{ url_for('dash.create_collective') }}" >
        <button id="create-collective-btn" class="btn-light">Create a Collective</button>
    </a>
</div>
-->




<section>

    <!-- ================================= PUBLIC POST -->
    <form class="card" name="public-post" action="https://thepointistochangeit.com/api/post" method="POST" id="create-public-post-form">
        <div class="card-body textarea-container">
            <textarea name="create-public-post-text" rows="4" cols="1000" maxlength="333">share your achievements</textarea>
        </div>
        <footer>
            <input class="btn btn-lg-dark btn-submit" type="submit" value="SHARE" name="submit-public-post">
        </footer>

    </form>

</section>

<section>

    <div class="card post">

        <header>

          <a href="{{ url_for('users.profile') }}" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/tmp.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>



    <div class="card">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/tmp2.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Group</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <a href="/users/me" class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></a>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>



    <div class="card post">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/user-color3.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet.
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>





    <div class="card post">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/1.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet.
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>



    <div class="card post">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/2.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet.
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>



    <div class="card post">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/3.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet.
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>





    <div class="card post">

        <header>

          <a href="/me" class="row wide">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/4.png" id="post-user-pic">
            <div class="col m-start" >
              <h1>Some Username</h1>
              <h2>@userhandle</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light"><div>&#11014;&#xFE0E;</div></div>
            <div class="btn btn-down btn-sm-light"><div>&#11015;&#xFE0E;</div></div>
          </div>

        </header>



      <div class="card-body" id="post-content">

        <div id="post-text">
            Lorem ipsum dolor sit amet.
        </div>

      
      </div>



      <footer class="problem">
      
        <div>
            &#9873;&#xFE0E;
        </div>

      </footer>


    </div>

</section>
    
    







{% endblock %}

