{% extends 'dash/dash_base.html' %}


{% block title %}
Search | 
{% endblock %}

<!-- ================================= CONTENT -->
{% block content %}


<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash/search.css') }}">
    <script>

      document.getElementById('search-icon').style.backgroundColor = "var(--color-neutral)";
    
    </script>
</head>

{% if context %}


{% set users = context.users %}
{% set collectives = context.collectives %}


<div class="card">
  <input type="text" value="search">
</div>

<h1 class="page-title">My Groups</h1>

{% for collective in collectives %}

<div class="card">

        <header>

          <a href="{{ url_for('collectives.internal_dash', id=2) }}" class="row">
            <img class="profile-pic" src="https://storage.googleapis.com/tpitci-static-images/collective.jpg" id="post-user-pic">
            <div class="col m-start" >
              <h1>{{collective.name}}</h1>
              <h2>@{{collective.handle}}</h2>
            </div>
          </a>

          <div class="btn-up-or-down-container">
            <div class="btn btn-up btn-sm-light wide"><div>connect</div></div>
          </div>

        </header>

</div>

{% endfor %}

{% for user in users %}
{{ user }}
{% endfor %}


{% endif %}



{% endblock %}