/* ================================= NAVBAR */
.navbar {
  position: fixed;
  top: calc(5.5vh + 18px);
  width: 100vw;
  border-bottom: var(--border-neutral);
  z-index: 2;
}
.navbar a:hover {
    background-color: var(--color-light);
}
.navbar > a {
  height: 2rem;
  width:50%;
  max-width: 50vw;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: var(--color-lighter);
}
.navbar > a > img {
    height: 1.9rem;
}
.nav-icon {
  height: 120%;
  width: auto;
}
#profile-icon {
  border-left: var(--border-neutral);
  border-right: var(--border-neutral);
}
#search-icon {
  border-left: var(--border-neutral);
}
body > header {
    position: fixed;
}

/* ================================= SUB NAVBAR */
#sub-nav {
    /* structure */
    justify-content: space-between;
    align-items: flex-end;
    /* sizing */
    width: 100vw;
    /* borders */
    border-bottom: var(--border-neutral);
    /* padding and margins */
    padding: var(--padding-normal);
    margin-top: var(--margin-normal);
    margin-bottom: var(--margin-normal);
    overflow: auto;
    white-space: nowrap;
}
.sub-nav-item {
    /* structure */
    align-items: center;
    justify-content: center;
    /* sizing */
    width: 200px;
    min-width: 89px;
    max-width: 200px;
    /* borders and colors */
    border: var(--border-dark);
    border-radius: var(--border-radius-sub-nav);
    /* padding and margins */
    padding: 0.5rem;
    margin-left: var(--margin-normal);
    /* fonts */
    font-weight: normal;
}
#props-nav {
    margin-left: 0px;
}
.sub-nav-item:hover {
    background-color: var(--color-lighter);
}