/* ================================= DOCUMENT LEVEL */
.btn-dark {
    justify-content: center;
    border: 1px solid rgb(18, 18, 18);
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 0.7rem;
    font-weight: normal;
    border-radius: var(--border-radius);
}
.btn-dark:hover {
    border: 1px solid rgb(18, 18, 18);
}
.btn-light {
    justify-content: center;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    padding: 0.7rem;
    font-weight: normal;
    border-radius: var(--border-radius);
}
.btn-light:hover {
    border: 1px solid rgb(18, 18, 18);
}

/* ================================= NAVBAR */
#public-square-icon {
    background-color: rgb(207, 207, 207);
}

/* ================================= CONTENT HEADER */
#content > header {
    justify-content: flex-start;
    width: 100%;
}
/* ================================= CREATE COLLECTIVE BUTTON */

#create-collective-container {
    justify-content: flex-end;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* ================================= CREATE PUBLIC POST FORM */
#create-public-post-form {
    flex-direction: column;
    justify-content: space-around;
    height: 7rem;
}
#create-public-post-text {
    max-width: 97vw;
}