/* ================================= CUSTOM VARIABLES */
:root {
    /* fonts */
    --font-size-small: 0.8rem;
    --font-size-normal: 1rem;
    --font-size-large: 1.1rem;
    --font-size-larger: 1.5rem;
    --font-size-largest: min(11vw, 42px);

    /* colors */
    --color-lightest: white;
    --color-lighter: rgb(249, 249, 249);
    --color-light: rgb(240, 240, 240);

    --color-neutral: rgb(199, 199, 199);
    --color-dark: rgb(99, 99, 99);
    --color-darker: rgb(33, 33, 33);
    --color-darkest: rgb(18, 18, 18);
    --color-alert: crimson;

    /* borders */
    --border-lightest: 1px solid var(--color-lightest);
    --border-lighter: 1px solid var(--color-lighter);
    --border-light: 1px solid var(--color-light);
    --border-neutral: 1px solid var(--color-neutral);
    --border-dark: 1px solid var(--color-dark);
    --border-darker: 1px solid var(--color-darker);
    --border-darkest: 1px solid var(--color-darkest);
    --border-radius-card: 3px;
    --border-radius-pic: 50%;


    
    /* margin and padding */
    --margin-sm: 0.3rem;
    --margin-normal: 0.9rem;
    --padding-sm: 0.3rem;
    --padding-header: 9px;
    --padding-normal: 0.9rem;

    
}

/* ================================= DOCUMENT LEVEL */
* > * {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: lighter;
    text-decoration: none;
}
body, main, section {
    flex-direction: column;
}
main {
    min-height: 100vh;
}
head *, script {
    display: none;
}
textarea {
    resize: none;
    border: none;
    border-radius: var(--border-radius-card);
    height: 100%;
    width: 100%;
    padding: var(--padding-sm);
    outline: none;
    font-size: var(--font-size-larger);
    color: var(--color-dark);
}
a, a * {
    text-decoration: none;
    color: inherit;
}
@-moz-document url-prefix() { 
  a {
     color: var(--color-lightest);
  }
}
input {
    /* sizing */
    width: 100%;
    height: 3rem;
    /* fonts */
    font-size: var(--font-size-large);
    color: var(--color-darker);
    /* padding and margin */
    padding: var(--padding-sm);
}

/* ================================= THEMES */
[color-theme="dark"] {
    color: var(--color-lightest);
    background-color: var(--color-darkest);
}
[color-theme="light"] {
    background-color: var(--color-lightest);
    color: var(--color-darkest);
}

/* ================================= HEADER AND NAVIGATION */
body > header {
    justify-content: space-between;
    width: 100vw;
    padding: var(--padding-header);
    height: calc(5.5vh + 18px);
}

/* ================================= ACTING CAPACITY */
#acting-capacity {
    align-items: center;
    justify-content: space-between;
}
#acting-capacity:visited {
    color: white;
}
#acting-capacity img {
    max-width: 42px;
    border-radius: 50%;
    box-sizing: content-box;
}
#acting-capacity-info {
    flex-direction: column;
    margin-left: 9px;
    font-size: var(--font-size-normal);
}
#acting-capacity-handle {
    font-size: var(--font-size-small);
    font-weight: normal;
}

/* ================================= MENU */
#menu-checkbox {
    position: absolute;
    right: 1.4vh;
    height: 5.5vh;
    width: 5.5vh;
    opacity: 0;
}
#menu {
    flex-direction: column;
    justify-content: space-evenly;
    height: 5vh;
    width: 5vh;
}
.menu-line {
    width: 100%;
    height: 3px;
    background-color: white;
}
#menu-content {
    display: none;
}

/* ================================= CARDS */
.page-title {
    margin-top: var(--margin-normal);
    font-size: var(--font-size-largest);
    font-weight: normal;
}

/* ================================= CARDS */
.card {
    /* structure */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* sizing
        fill small device width,
        about half otherwise
    */
    width: 400px;
    min-width: 42vw;
    max-width: 90vw;
    /* padding and margin */
    margin-top: var(--margin-normal);
    margin-bottom: var(--margin-normal);
    /* color and font */
    color: var(--color-darkest);
    background-color: var(--color-lighter);
    /* border */
    border: var(--border-neutral);
    border-radius: var(--border-radius-card);
}
.card > * {
    /* structure */
    flex-direction: row;
    justify-content: space-between;
    /* sizing */
    width: 100%;
    padding: var(--padding-normal);
}
.textarea-container {
    padding: 0;
}

/* ================================= CARD COMPONENTS */



/* ================================= CARD HEADER, FOOTER, PROFILE PICS, AND TITLES */
.card header {
    height: 5rem;
}
.card > header > * {
    /* structure */
    align-items: center;
    /* sizing */
    height: 100%;
}
.profile-pic {
    /* sizing */
    max-width: 3rem;
    max-height: 3rem;
    /* borders */
    border-radius: var(--border-radius-pic);
    /* padding and margin */
    margin-right: var(--margin-sm);
}
.card > header h1 {
    /* fonts */
    font-size: var(--font-size-large);
    color: var(--color-darkest);
    font-weight: normal;
}
.card > header h2 {
    /* fonts */
    font-size: var(--font-size-small);
    color: var(--color-darkest);
}
.card > header > a:hover h1 {
    /* fonts */
    color: var(--color-darker);
    text-decoration: underline;
}
.card > header > a:hover h2 {
    /* fonts */
    color: var(--color-darker);
}
.card > .card-body {
    background-color: var(--color-lightest);
}
.card-body > * {
    margin-bottom: var(--margin-sm);
}
.card footer {
    justify-content: center;
}
#notifications .card footer * {
    margin: var(--margin-sm);
}
.problem {
    font-size: var(--font-size-larg);
    padding: var(--padding-sm);
}
.problem:hover{
    background-color: var(--color-light);
}

/* ================================= GENERIC BUTTONS */
.btn {
    /* structure */
    justify-content: center;
    align-items: center;
    /* borders */
    border: var(--border-darker);
    border-radius: 2px;
    /* fonts */
    font-size: var(--font-size-large);
    font-weight: normal;
    text-decoration: none;
    /* padding and margin */
    padding: var(--padding-sm);
}
.btn-lg-light {
    /* colors and decoration*/
    background-color: var(--color-lightest);
    /* text and font */
    color: var(--color-darkest);
}
.btn-sm-light {
    /* text and font */
    color: var(--color-darkest);
    /* colors */
}
.btn-sm-dark {
    /* text and font */
    color: var(--color-lightest);
    /* colors */
    background-color: var(--color-darkest);
}
.btn-sm-light:hover, .btn-lg-light:hover {
    background-color: var(--color-light);
}
.btn-lg-dark {
    /* colors and decoration */
    background-color: var(--color-darkest);
    border: var(--color-darkest);
    /* text and font */
    color: var(--color-lightest);
}
.btn-lg-dark:hover, .btn-sm-dark:hover {
    background-color: var(--color-darker);
}
/* ================================= SUBMIT, ACCEPT/DENIE */

.btn-submit {
    /* sizing */
    height: 3rem;
    width: 400px;
    min-width: 100%;
    max-width: 100%;
}
.btn-alert {
    color: var(--color-alert);
}
.btn-alert:hover {
    border: 3px solid var(--color-alert);
}
/* ================================= UPVOTE AND DOWNVOTE */
.btn-up-or-down-container {
    /* structure */
    justify-content: space-between;
    /* sizing */
    width: 9rem;
}
.btn-up-or-down-container > * {
    /* sizing */
    height: 100%;
    width: 48%;
    /* colors and decoration */
    background-color: var(--color-lightest);
}
.btn-up-or-down-container *:hover {
    /* fonts */
    font-size: var(--font-size-normal);
}

.btn-up:visited, .btn:visited > *{
    background-color: var(--color-darkest);
    color: var(--color-lightest);

}

.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.m-start {
    justify-content: flex-start;
}
.m-end {
    justify-content: flex-end;
}
.m-center {
    justify-content: center;
}
.m-between {
    justify-content: space-between;
}
.m-around {
    justify-content: space-around;
}
.m-evenly {
    justify-content: space-evenly;
}
.a-center {
    align-items: center;
}
.wide {
    width: 100%;
}
.row-wrap {
    flex-flow: row wrap;
    align-items: center;
}
.margin-sides-sm {
    margin-left: 3px;
    margin-right: 3px;
}
.f-icon {
    font-size: var(--font-size-larger);
}

/* ================================= CONTENT */
#content {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  flex-direction: column;
  align-items: center;
  margin-top: calc(7.5vh + 33px);
}
#collective-content {
    z-index: 3;
    margin-top: 0;
    margin-top: calc(calc(7.5vh + 33px) - var(--margin-normal));;
    border: var(--border-dark);
}



/* ===================================== DELETE THESE *
/* ===================================== *
/* ===================================== *
/* ===================================== */
