<!doctype html>
<html>

  <!-- ================================= HEAD -->
  <head>
    <title>{% block title %}{% endblock %}The Point Is to Change It</title>
    <meta name="description" content="Build communities that reflect our highest values.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">
    <meta charset="UTF-8">

    

    {% block head %}
    {% endblock %}

  </head>

  {% if data %}

    {% if data.current_user %}
        {% set current_user = data.current_user %}
    {% endif %}

    {% if data.user %}
        {% set user = data.user %}
    {% endif %}

    {% if data.full_view %}
        {% set full_view = data.full_view %}
    {% endif %}

{% endif %}

  <body>
    <!-- ================================= HEADER -->
    <header class="" color-theme="dark">

        
        <!-- ACTING CAPACITY -->
        {% if current_user %}
        <a href="{{ url_for('users.profile') }}" id="acting-capacity">
          <img class="profile-pic" id="acting-capacity-photo"  src="https://storage.googleapis.com/tpitci-static-images/russ.jpg" alt="acting capacity profile picture">
          <div id="acting-capacity-info">

            <div id="acting-capacity-name">{{ current_user.name }}</div>
            <div id="acting-capacity-handle">@{{ current_user.handle }}</div>
          </div>

        </a>

          <a href="{{ url_for('auth.logout') }}">logout</a> 

        {% else %}
        <a class="logo-container" href="{{ url_for('landing.index') }}">
            <img class="logo" src="https://storage.googleapis.com/tpitci-static-images/logo-dark.png" alt="The Point Is to Change It logo">
        </a>
        {% endif %}

      <!-- MENU BUTTON (INVISIBLE CHECKBOX) -->
        <input type="checkbox" id="menu-checkbox">
        <!-- MENU BUTTON (VISIBLE) -->
        <div id="menu">
          
          <span class="menu-line"></span>
          <span class="menu-line"></span>
          <span class="menu-line"></span>
        </div>


      <!-- MENU CONTENT -->
      <div id="menu-content">
          
      </div>

        <!-- login or logout link -->
        {% if context %}

          {% set login_out = context.login_out %}

          {% if login_out %}
            {{ login_out }}
          {% endif %}

        {% endif %}


      {% block header %}
      {% endblock %}



      




        

    </header>

    <!-- ================================= MAIN -->
    <main color-theme="light">

      {% block main %}
      <body>
          
      </body>
      {% endblock %}

    </main>

    <!-- ================================= FOOTER -->
    <footer color-theme="dark">

        {% block footer %}
        
        {% endblock %}
      
    </footer>

  </body>
</html>