

{% extends 'dash/dash_base.html' %}

{% block title %}
Collective Name | 
{% endblock %}

<!-- ================================= CONTENT -->
{% block content %}

<nav color-theme="dark" class="col" id="collective-nav">

    <div class="row sub-nav">
        <div id="proposals" class="col-nav-item btn-sm-dark">PROPS</div>
        <div id="roles" class="col-nav-item btn-sm-dark">ROLES</div>
        <div id="tasks" class="col-nav-item btn-sm-dark">TASKS</div>
        <div id="posts" class="col-nav-item btn-sm-dark">POSTS</div>
        <div id="dues" class="col-nav-item btn-sm-dark">DUES</div>
    </div>

</nav>

<section class="collective-body">

    <h1 id="collective-content" class="page-title">Collective Name - Proposals</h1>
    <h2>@collectivehandle</h2>
    <h1>Proposals</h1>

    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>

</section>




{% endblock %}