

{% extends 'dash/dash_base.html' %}

{% block title %}
Collective Name | 
{% endblock %}

<!-- ================================= CONTENT -->
{% block content %}


        
<div class="col">
        <h1 class="page-title" > Collective Name</h1>
        <h3>@collectivehandle</h3>
</div>


<section class="col" id="collective-content">

    <nav class="row" id="sub-nav">

        <div class="sub-nav-item" id="ideas">IDEAS</div>
        <div class="sub-nav-item" id="tasks">TASKS</div>
        <div class="sub-nav-item" id="roles">ROLES</div>
        <div class="sub-nav-item" id="posts">POSTS</div>
        <div class="sub-nav-item" id="dues">DUES</div>
        <div class="sub-nav-item" id="members">MEMBERS</div>

    </nav>

    

    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>


    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>


    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>



    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>



    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>



    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>



    <div class="card">

        <header>

            

        </header>

        <div class="card-body">

        </div>

        <footer></footer>


    </div>







</section>




{% endblock %}